.product-card {
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s;
  max-width: 250px;
  margin: auto;
  
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Reduce Image Height */
.product-image-container {
  height: 180px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Reduce Footer Height */
.product-footer {
  padding: 8px;
}

/* Reduce Text Size */
.product-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}

.product-category {
  font-size: 11px;
  color: gray;
  margin-bottom: 4px;
}

.product-description {
  font-size: 11px;
  margin-bottom: 4px;
}

.product-price {
  font-size: 14px;
  font-weight: bold;
  color: green;
  margin-bottom: 4px;
}

.product-rating {
  font-size: 11px;
  margin-bottom: 4px;
}

.in-stock,
 .out-stock{
  font-size: 11px;
  margin-bottom: 6px;
  
}
.out-stock{
  color: red;
}

/* Button Small */
.product-footer button {
  font-size: 12px;
  padding: 5px;
}
body {
  background-color: #EAEDED;
  font-family: Arial, sans-serif;
}

